
# datasets & artifacts
/data/
datasets/
*.ckpt
*.pt
*.pth

# hydra outputs (both pipeline/ml)
**/outputs/
**/multirun/
*.log

# notebooks
**/.ipynb_checkpoints/

# 빌드/설치 시 자동 생성물
**/__pycache__/
**/*.pyc
**/*.egg-info/
